[project]
	description = Export activities from Strava to files
[access "refs/*"]
	owner = group user/Tyler Bronder (tbronder)
[access "refs/for/refs/*"]
	read = group user/Tyler Bronder (tbronder)
	push = group user/Tyler Bronder (tbronder)
	label-Code-Review = -2..+2 group user/Tyler Bronder (tbronder)
	label-Verified = -1..+1 group user/Tyler Bronder (tbronder)
	rebase = group user/Tyler Bronder (tbronder)
	removeReviewer = group user/Tyler Bronder (tbronder)
	submit = group user/Tyler Bronder (tbronder)
[access "refs/heads/*"]
	read = group user/Tyler Bronder (tbronder)
	create = group user/Tyler Bronder (tbronder)
	push = +force group user/Tyler Bronder (tbronder)
	pushMerge = group user/Tyler Bronder (tbronder)
[access "refs/tags/*"]
	push = +force group user/Tyler Bronder (tbronder)
	pushTag = group user/Tyler Bronder (tbronder)
	pushSignedTag = group user/Tyler Bronder (tbronder)
